* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    max-width: 600px;
    width: 500px;
    margin: 100px auto;
    
}

.container {
    width: 100%;
    background-color: rgb(191, 227, 243);
    padding: 16px;
    border: 10px solid rgb(153, 216, 243);
}

header{
    text-align: center;
    margin-bottom: 16px;
}

form {
    margin-bottom: 32px;
}

form h1 {
    margin-right: 16px;
}

form, ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

form input {
    font-weight: normal;
}


form button,
form input {
    cursor: pointer;
    border: none;
    padding: 8px;
    border-bottom: 1px solid black;
}


ul li {
    list-style: none;
    cursor: pointer;
    margin-bottom: 16px;
}

.task-completed {
    text-decoration: line-through 2px;
    color: green;
}



